/*
body {
    background-image: url("https://static.escolakids.uol.com.br/2023/03/ilustracao-de-um-tiranossauro-rex-com-a-boca-aberta-em-posicao-de-ataque.jpg");
    background-repeat: no-repeat;
}
*/
h1 {
    background-color: aquamarine;
    border-width: 5px 10px 15px 20px;
    border-color: black;
    border-style: groove;
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize; /* letras maiusculas e minusculas*/

    padding: 15px;
}

p {
    background-color: yellow;
    border: 3px red solid;
    padding: 5px 20px 40px 60px;
    margin: 40px 60px 90px 120px;
    text-transform: uppercase;
    text-indent: 20px; /*paragrafo*/
    line-height: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 800;
    font-style: italic;
}